$lightestColor: #FFFFFF;
$darkestColor: #060606;
$jumbo: #78787a;
$primaryColor: #4154fe;
@mixin button {
    color: $lightestColor;
    padding: 1rem 2rem;
    border-radius: 2rem;
    background-color: transparent;
    transition: all 250ms linear;
}