* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
    transition: all 250ms linear;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.btn {
    @include button
}

.btn-primary {
    background-color: $primaryColor;
    border-color: $primaryColor;
}

.btn-outline {
    border-color: #2C2A35;
}

.btn-outline:hover {
    border-color: $lightestColor;
    background-color: $lightestColor;
    color: black;
}

.btn-alert {
    background-color: $alertColor;
    border-color: $alertColor;
}

.btn-primary:hover,
.btn-alert:hover {
    background-color: $liteAlertColor;
    border-color: $liteAlertColor;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}