* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: unset;
    transition: all 250ms linear;
}

ul {
    list-style: none;
}

.btn {
    @include button
}

.btn-primary {
    background-color: $primaryColor;
}

.btn-primary:hover {
    background-color: $alertColor;
    ;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}