.container {
    max-width: 1200px;
    margin: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.col-3 {
    width: calc(100%/12*4);
}