.container {
    max-width: 1200px;
    margin: auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.col-4 {
    width: calc(100%/12*4);
}

.col-6 {
    width: calc(100%/12*6);
}

.col-7 {
    width: calc(100%/12*7);
}

.col-8 {
    width: calc(100%/12*8);
}