.align-items-baseline {
    align-items: baseline;
}

.mx-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}

.py-3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}